.box{
    border: 1px solid black;
    background-color: green;
    margin-bottom: 10px;
}
.mybox{
    @extend .box;
    font-size: 10px;
}
/*keyword %*/
%box2{
    border: 1px solid black;
    background-color: blue;
    width: 300px;
    margin: 10px;
    padding: 20px;
    &:hover{
        background-color: red;
    }
}
.myfirstbox{
    @extend%box2;
    font-size: 10px;
}
.mysecondbox{
    @extend %box2;
    font-size: 20px;
}
/**/
@mixin baseButton ($bgcolor) {
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;

    background-color: $bgcolor;
    box-shadow: 0 0 10px $bgcolor;
    color: white;
    border: 1px solid white;
    &:hover{
        color: $bgcolor;
        background-color: white;
        box-shadow: none;
    }
}
button.green{
    @include baseButton(green);
}
button.red{
    @include baseButton(red)
}
button.blue{
    @include baseButton (blue)
}
button.yellow{
    @include baseButton(yellow);
    color: black;
}