@import 'variabili';
header{
    background-color: $coloreSfondo;
    color: $coloreTesto;
    font-family: $font;
    a{
    color: red;
    text-decoration: none;
    margin: 10px;
    &:hover{
        color:$coloreTesto ;
       @extend %hover;
    }
    }
}