@import 'if';

main{
@include colors;
font-family: $font;

    .contenitore1{ 
        
               height: 60vh;
          background-image: url(/img/pexels-aleksandar-pasaric-325185.jpg);
          background-position:center;
  button{
        background-color: $coloreSfondo;
        color: $coloreTesto;
        border: $coloreSfondo;
        &:hover{
          @extend %hover;
        }
    }
}
.svg{
background-image: url(/svg/svg1.jpeg);
background:  no-repeat;

.contenitore2{
    margin-bottom: $margine;
    article{

   
    &:hover{
 
     @extend %hover;
    }
  }
}
.contenitore3{
    margin-bottom: $margine;
    display: flex;
    flex-direction: column;
    align-items: center;
    .immagini{
display: flex;
justify-content: space-around; 
img{
    &:hover{
   @extend %hover;
}
}


  img{
        width: 10%;
        
    }
    }
  
}}

.contenitore4{
    margin-bottom: 50px;   
     
    .carosello{

    }
img{
    width: 8%;
    display: flex;
    align-items: center;
}
}

   }
 
    