


/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(/assets/img/sfondo.png);
    margin: 10px;
}
/* header */
header{
    border-style: solid;
    background-color: rgb(51, 51, 111);
    margin-left: 10px;
    padding:40px;
}
.logo{
    margin-left: 10%;
    width: 60%;
}

.navbar{
    text-decoration:none;
    list-style: none;
    color:white;
    margin-left: 25%;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
.pnav{
    margin-left: 15%;
    margin-top: 15px;
}
.lista1{
    text-decoration: none;
    color: white;
}
/* MAIN */
main{
    font-family: 'Poppins', sans-serif;
    border-style: solid;
    background-color: white;
    border-color: white;
}
 .titolo1{
 font-weight: 600;
 font-size: 26px;
 padding: 20px;
 }



/* ELEMENTI NEL MAIN - ARTICLE */
.trasparent{
    opacity: 0.5;
}
.viola{
    color: rgb(212, 7, 93);
}
.primom{
    margin: 15px;
}
.lista2{
    padding: 40px;

}
.lista3{
    list-style: decimal;
 margin: 30px;
}
.secondom{
    margin: 5px;
}
iframe{
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    margin-right: 10px;
}
/* TABELLE */

/* FORM */
h2{
 
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.box{
    border-style: solid;
    border: 2px;
    background-color: rgb(157, 149, 138);
    padding: 20px;
    margin: 10px;
}
.terzom{
    padding: 10px;
}
button{
    padding: 10px;
    color: white;
    background-color: blue;
}


/* ELEMENTI NELL' ASIDE */

/* FOOTER */
.para{
    color: white;
    text-align: center;
    padding: 10px;
}
.box2{
    background-color:rgba(51, 74, 51, 0.821) ;
}